{% extends 'base.html'%}
{% block content %}

<h3>Hey</h3>

<div style="padding-bottom: 20px; text-align: center;">
    <a href="{{url_for('main.newPitch')}}" class="btn btn-info btn-center">Create Pitch</a>
</div>

<div style="padding-bottom: 20px; text-align: center;">
    <a href="{{url_for('main.displayInterviewCategory')}}" class="btn btn-info btn-center">Interview Pitches</a>
</div>

<div style="padding-bottom: 20px; text-align: center;">
    <a href="{{url_for('main.displayPromotionCategory')}}" class="btn btn-info btn-center">Promotion Pitches</a>
</div>

<div style="padding-bottom: 20px; text-align: center;">
    <a href="{{url_for('main.displayProductCategory')}}" class="btn btn-info btn-center">Product Pitches</a>
</div>

<div style="padding-bottom: 20px; text-align: center;">
    <a href="{{url_for('main.displayPickupCategory')}}" class="btn btn-info btn-center">PickUp lines Pitches</a>
</div>

{% endblock %}